/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.cat_name {
	background: #D5D5D5;;
	/*width:205px;*/
	height:205px;
	padding: 20px;
}

.cat_name a {
	line-height: 1.5em;;
	font-size: 13px;
}
.cat_name a:hover{
	text-decoration: underline;
}

.no_margin {
	margin: 0;
	
}
.search_bar {
	background:#279942; 
	/*background: #2aa6ca;*/
	height:120px; 
	margin: 0 0 30px 0; 
	padding:10px 15px 0 60px;
}
.cntr {
	margin: 0 auto:	
}

.txt_cntr {
	text-align: center;
	/*color: #FFF;*/
}

select { height: 30px;}

.advertise {
	height: 500px;
	background: #D2D2D2;	
}
.horizantal_ad {
	height: 80px;
	margin-top: 20px;
}
.right_flt {
	float: right;
}
.list {
	
}
.list_col:hover {
	background: #e0f4ff;
	pointer: cursor !important;
}
.list_col {
	height: 120px;
	background: #f2f2f2;
	
	border: 1px solid #cccccc;
	border-bottom: none;
	padding: 11px;
}
.list_first {
	border-radius: 3px 3px 0 0;
}
.list_header {
	height: 50px;
	background: #CFCFCF;
	padding: 20px 0 0 10px;
	box-shadow:0px 9px 0px #919191;
	-webkit-box-shadow:0px 9px 0px #919191;
	-moz-box-shadow:0px 9px 0px #919191;
	color: #666666;
}
.list_price_pad {
	padding-top: 23px;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


